
/* main css file */
.app-wrapper {
    float: none;
    margin: 0 auto;
}

.album {
    margin: 10px 0;
    transition: all 0.4s ease-out;
}

.album img {
    width: auto;
    height: 116px;
    border-radius: 20%;
    -moz-border-radius: 20%;
    -webkit-border-radius: 20%;
}

.album img:hover {
    box-shadow: 0 0 10px 10px #888888;
}

.playing {
    opacity: 0.2;
}

.group {
    position: relative;
    margin: 50px auto 50px auto;
}

/*STYLES FOR INPUT======================================= */

input {
    width: 300px;
    border: none;
    display: block;
    font-size: 20px !important;
    padding: 10px 10px 2px 5px;
    border-bottom: 1px solid #757575;
    /*background-color: rgba(227, 234, 234, 0.96);*/
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    left: 5px;
    top: -11px;
    color: #000;
    font-size: 15px;
    position: absolute;
    font-weight: normal;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -10px;
    color: #000;
    font-size: 12px;
}

/* BOTTOM BARS ================================= */
.bar {
    width: 300px;
    display: block;
    position: relative;
}

.bar:before, .bar:after {
    width: 0;
    content: '';
    height: 2px;
    bottom: 1px;
    background: #000;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input-wrap {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* active state */
input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    -webkit-animation: inputHighlighter 0.3s ease;

}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #000;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #000;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
